<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="shortcut icon" href="../images/logotipo.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>MovieStack</title>
</head>

<body class="bg-slate-700">
    <div id="app">
        <header class="flex bg-gradient-to-t from-slate-700 to-slate-900 justify-between min-w-full ">
            <div class="flex">
                <img src="../images/logotipo.png" alt="logotipo" class="flex w-20 rounded-2xl">
                <h1 class="flex text-white  text-4xl mx-2.5 items-center">MovieStack</h1>
            </div>
            <nav class=" flex mx-2.5 text-white text-lg items-center ">
                <ul class=" flex ">
                    <li class=" hover:bg-gray-700 px-1.5 py-1 text-white rounded-3xl ">
                        <a href="../../index.html">HOME</a>
                    </li>
                    <li class="hover:bg-gray-700 px-1.5 py-1 text-white rounded-3xl">
                        <a href="#">MOVIES</a>
                    </li>
                    <li class=" hover:bg-gray-700 px-1.5 py-1 text-white rounded-3xl">
                        <a href="./favs.html">FAVS</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="min-h-screen">
            <div id="banner">
                <img src="../images/MovieStack.png" class="rounded-xl h-72 mt-4 md:w-full" alt="">
            </div>
            <div class="flex gap-5 mt-3 justify-center bg-slate-800 p-10 rounded-full md:space-x-7 flex-col md:flex-row"
                id="input">
                <select class="rounded-full bg-slate-700 text-white w-64 p-2" v-on:input="selecteds">
                    <option value="all">All Movies</option>
                    <template v-if="genres.length > 0" v-for="genre in genres">
                        <option v-bind:value="genre">{{genre}}</option>
                    </template>
                </select>
                <input type="text" v-on:input="searchs" placeholder="Search Your Movie"
                    class="rounded-full w-64 bg-slate-700 text-white p-2">
            </div>
            <div id="Alvapeli"
                class="flex flex-wrap gap-7 text-white box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; mt-4 mb-6 justify-center ">
                <template v-if="moviesFilter.length > 0" v-for="movie in moviesFilter">
                    <article
                        class=" w-[350px] h-fit border flex flex-col gap-5 bg-gradient-to-t from-slate-700 to-slate-900 rounded-xl px-5 pb-5  p-4 items-center border-none ">
                        <img class="h-[70%]" v-bind:src="'https://moviestack.onrender.com/static/' + movie.image"
                            alt="">
                        <h2 class="text-center">{{movie.title}}</h2>
                        <h3 class="text-center">{{movie.tagline}}</h3>
                        <p class="line-clamp-5">{{movie.overview}}</p>
                        <a class="hover:bg-gradient-to-t from-slate-900 to-slate-700  border-black p-2 rounded-lg "  v-bind:href="'./details.html?id='+ movie.id">More details ></a>
                        <button id="botonFavorito" class="hover:bg-gradient-to-t from-slate-900 to-slate-700  border-black p-2 rounded-lg" data-id="{{movie.id}}" v-on:click="addFavs(movie.id)">Add Favs</button>
                    </article>
                </template>
                <template v-else>
                    <h2>No Movies Found</h2>
                </template>
            </div>
        </main>
        <footer
            class="flex bg-gradient-to-t from-slate-900 to-slate-700 mt-3 text-center justify-center text-white text-xl p-3">
            <h2>Alvaro Orquera-Cohort 52</h2>
        </footer>
    </div>




    <script type="module" src="../style/tailwind.config.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./main.js"></script>
</body>

</html>